{
  "extends": ["react-app", "react-app/jest", "prettier", "plugin:prettier/recommended"],
  "rules": {
    "no-console": ["warn", { "allow": ["warn", "error", "info", "trace"] }],
    "prettier/prettier": ["error", { "endOfLine": "auto" }],
    "no-script-url": ["off"],
    "jsx-a11y/anchor-is-valid": ["off"]
  }
}
